.footer {
    color: var(--clr-dark-cyan-footer);
    display: grid;
    gap: 2.5rem;
    background-color: var(--clr-footer-bg);
}

.logo {
    fill: var(--clr-dark-cyan-footer);
    margin-inline: auto;
}

.footer-links {
    flex-direction: row;
    justify-content: space-between;   
}

.footer-links_social {
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.footer-link:hover, 
.social_link:hover {
    cursor: pointer;
    color: var(--clr-white);
    fill: var(--clr-white);
}

@media (min-width:600px) {
    .footer {
        padding-block: 4.5rem;
    }

    .footer-links {
        flex-direction: row;
        justify-content: center;   
    }
}