.header-wrapper {
    color: var(--clr-white);
    background: url('./public/images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 18.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;

    position: relative;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (max-width:599px) {
    .navigation-bar {
        position: absolute;
        top: 5.125rem;
        left: 50%;
        transform: translate(-50%);

        background-color: var(--clr-white);
        color: var(--clr-dark-grayish-blue);
        padding: 2.5rem 5.9375rem;
    }

    .menu-hidden {
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }
}

@media (min-width:600px) {
    .header-wrapper {
        background: url('./public/images/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .header {
        padding: 2.125rem 2.5rem 0;
    }

    .flex-container {
        gap: 2.9375rem;
    }

    .button-toggle {
        display: none;
    }

    h1 {
        text-align: center;
        padding: 6.5625rem 0 33.5rem;
    }
}

