.header-wrapper {
    color: var(--clr-white);
    background: url('./public/images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 18.5rem;

    height: 44.5rem;
    max-height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;

    position: relative;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.arrow-img {
    margin-inline: auto;
}

@media (max-width:749px) {
    .navigation-bar {
        position: absolute;
        top: 6.75rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 100;

        background-color: var(--clr-white);
        color: var(--clr-dark-grayish-blue);
        padding: 2.5rem 5.9375rem;
    }

    .navigation-bar::after {
        content: "";
        position: absolute;
        margin-top: -25%;
        right: 0;
        width: 0;
        height: 0;
        transform: translate(0, 10%);
        background-color: transparent;
        border: 40px solid transparent;
        border-right-color: var(--clr-white);
    }

    .menu-hidden {
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }

    h1 {
        padding-bottom: 12rem;
    }
}

@media (min-width:750px) {
    .header-wrapper {
        background: url('./public/images/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .header {
        padding: 2.125rem 2.5rem 0;
    }

    .flex-container {
        gap: 2.9375rem;
    }

    .button-toggle {
        display: none;
    }

    h1 {
        text-align: center;
        padding: 6.5625rem 0 4rem;
    }
}

