.sectionThree {
    display: grid;
    text-align: center;
}

.sectionThree-container {
    padding: 24.875rem 1.5rem 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sectionThree-container h3 {
    font-size: 1.75rem;
    color: var(--clr-desaturated-blue);
    margin-bottom: 1.6875rem;
}

.sectionThree-container p {
    color: var(--clr-blue-photo-text);
}

.bg-cherry {
    background-image: url('./images/mobile/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.bg-orange {
    background-image: url('./images/mobile/image-photography.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width:750px) {
    .sectionThree {
        grid-template-columns: repeat(2, 1fr);
    }

    .sectionThree-container p{
        width: 50%;
        margin-inline: auto;
        padding-bottom: 3.6875rem;
    }
    
    .bg-cherry {
        background-image: url('./images/desktop/image-graphic-design.jpg');
    }

    .bg-orange {
        background-image: url('./images/desktop/image-photography.jpg');
    }
}
